---
title: Installing App Automator for PCF
owner: CF EATs
---

<strong><%= modified_date %></strong>

This topic provides an introduction to App Automator for Pivotal Cloud Foundry (PCF) and describes how to install the App Automator for PCF tile.

## <a id='about'></a> About App Automator for PCF

App Automator for PCF executes automated actions against apps based on triggers. For example, developers can configure App Automator for PCF to automatically scale an app up or down based on a predefined schedule. 

Operators can install App Automator for PCF on one or more spaces in their PCF deployment. The triggers and actions defined in App Automator for PCF can apply to all apps within the given space.

Developers can define custom triggers and actions in a manifest file. For more information about defining triggers and actions for App Automator for PCF, see [Configuring App Automator for PCF](./using.html).

## Prerequisites

The following are prerequisites for installing App Automator for PCF:

  - Download App Automator for PCF from PivNet.
  - App Automator for PCF requires Pivotal Application Service (PAS) 2.2 or later.

## <a id='install'></a> Install the App Automator for PCF Tile

The following section describes how to install the App Automator for PCF tile in Ops Manager. For more information about installing and configuring App Automator for PCF on one or more spaces in your PCF deployment, see [Configuring App Automator for PCF](./using.html).

To install the App Automator for PCF tile on Ops Manager, do one of the following:

* Run the following command in the cf CLI:

	<pre class="terminal">cf install-plugin PATH-TO-PLUGIN</pre>

  	Where `PATH-TO-PLUGIN` is the path to the App Automator for PCF plugin you downloaded.

* In the Ops Manager Installation Dashboard, click **Import a Product** and upload the App Automator for PCF plugin you downloaded. Click **+** to add the App Automator for PCF tile to your staging area.