---
title: App Automator for PCF v1.0 Release Notes
owner: CF EATs
---

## <a id='v1.0'></a> v1.0
**Release Date: January 18, 2019**

### <a id='features'></a> Features

App Automator for PCF v1.0 combines the functionality of App Scheduler and App Autoscaler. It allows developers to schedule automated actions for an app, such as scaling the app up or down, in a manifest file.

Install App Automator via the cf CLI on one or more spaces in a PCF deployment. For more information about installing App Automator, see [Installing App Automator for PCF](./index.html).