---
title: App Automator for PCF v1.0 Release Notes
owner: CF EATs
---

## <a id='v1.0'></a> v1.0 (Beta)
**Release Date: January 18, 2019**

<p class="note warning"><b>Warning</b>: App Automator v1.0 is Beta. It is not intended for use in production environments. It is governed as a Beta Component as defined in the <a href="https://network.pivotal.io/legal_documents/pivotal_software_eula">Pivotal Software End User License Agreement</a>.</p>

### <a id='features'></a> Features

App Automator for PCF v1.0 (Beta) allows developers to schedule automated actions for one or more apps in a PCF deployment space. For example, developers can use App Automator to define an action that automatically scales an app up or down every 15 minutes. For more information about defining automated actions with App Automator, see [Configuring App Automator for PCF](./using.html).

Operators can install the App Automator plugin on one or more spaces in a PCF deployment. For more information about installing App Automator, see [Installing App Automator for PCF](./index.html). 