---
title: App Automator for PCF v1.0 Release Notes
owner: CF EATs
---

## <a id='v1.0'></a> v1.0
**Release Date: January 18, 2019**

### <a id='features'></a> Features

App Automator for PCF v1.0 allows developers to schedule automated actions for one or more apps in a PCF deployment space. For example, developers can use App Automator to define an action that automatically scales an app up or down every 15 minutes. 

Install App Automator via the cf CLI on one or more spaces in a PCF deployment. For more information about installing App Automator, see [Installing App Automator for PCF](./index.html). 