---
title: Configuring App Automator for PCF
owner: CF EATs
---

<strong><%= modified_date %></strong>

This topic describes how to define custom triggers and actions for App Automator for Pivotal Cloud Foundry (PCF). It also describes how to configure App Automator for PCF to apply these triggers and actions. 

## <a id='triggers-actions'></a> Define Triggers and Actions

App Automator for PCF executes automated actions against an app when the conditions of a given trigger are met. App Automator includes types of triggers and actions that developers can define in an App Automator manifest file.

The following are App Automator triggers:

- **Metric**: Metric triggers set a threshold for an app metric. For example, App Automator can execute an action when CPU is greater than 80%.
- **Schedule**: Schedule triggers set a regular schedule for App Automator to execute an action. For example, App Automator can execute an action every 15 minutes.

The following are App Automator actions:

- **Scale**: A scale action scales an app either by or to a specific number of instances. For example, an App Automator action can scale an app up by two instances. It can also scale an app to a total of two instances. 
- **cf_task**: A cf\_task action executes a task. For example, a cf_task action can run a command or configure memory for an app. 

To define triggers and actions for App Automator for PCF, create a manifest YAML file and define the desired triggers and actions in the file.  

The example YAML file below executes a `cf_task` action every 15 minutes. The action runs a command and sets the memory and disk quota for the specified app.

<pre>
actions:
 my-action:
   app: MY-APP
   type: cf_task
   config:
     command: "MY COMMAND"
     memory_in_mb: 4
     disk_quota_in_mb: 8

triggers:
 every_15m:
   type: schedule
   action: my-action
   expression: "@every 15m"
</pre>

Where:

- `MY-APP` is the name of the app against which App Automator executes the action.
- `MY COMMAND` is a command associated with the `cf_task` action.
- `my-action` is the name of the action.  

## <a id='configure'></a> Configure App Automator for PCF

Developers can configure App Automator to apply the triggers and actions they defined in the App Automator manifest file. For more information about defining triggers and actions in the manifest file, see [Define Triggers and Actions](#triggers-actions).

To configure App Automator, run the following command:

```
cf configure-app-automator MY-MANIFEST-FILE
```

Where:

  - `MY-MANIFEST-FILE` is the name of the App Automator manifest YAML file.